/* Colors */

// $brand-primary: #001630;
// $brand-secundary: #fcba04;

$brand-primary: #007bff;
$brand-secundary: #6c757d;

$brand-success: #28a745;
$brand-info: #17a2b8;
$brand-warning: #ffc107;
$brand-danger: #dc3545;
